/* || General styles */

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0rem;
}

h1,
h2,
h3 {
  font-family: "Rubik Mono One", sans-serif;
}

/* || Specific styles */

.main {
  padding: 1rem;
  max-width: 70ch;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: lightcyan;
  padding: 2.5rem 1rem;
}

.header-group {
  font-size: 4rem;
}

.header-title {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

article + article {
  margin-top: 2.5rem;
  border-top: solid teal;
}

main > article {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-link {
  color: teal;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: lavender;
}

.nav-link:active {
  background-color: darkgreen;
}

::selection {
  background-color: black;
  color: lavenderblush;
}

.profession::after {
  content: "💻";
}

.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background: black;
  color: white;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.employment-heading {
  display: inline-block;
}

.employment-subheading {
  display: inline-block;
}
