/* || General styles */

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0rem;
}

h1,
h2,
h3 {
  font-family: "Rubik Mono One", sans-serif;
}

/* || Specific styles */

.main {
  padding: 1rem;
  max-width: 70ch;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-image: linear-gradient(135deg, lightcyan 50%, teal 90%) ;
  padding: 2.5rem 1rem;
}

.header-group {
  font-size: 4rem;
}

.header-title {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.navigation {
  display: flex;
  flex-direction: column;
}

article + article {
  margin-top: 2.5rem;
  border-top: solid teal;
}

main > article {
  padding-left: 1rem;
  padding-right: 1rem;
}

-.nav-link + .nav-link {
  margin-left: 1rem;
}
/*wird nicht mehr angewendet,
nachdem Flexbox aktiv ist.*/

.nav-link {
  color: rgb(5, 50, 50);
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: lavender;
}

.nav-link:active {
  background-color: darkgreen;
}

::selection {
  background-color: black;
  color: lavenderblush;
}

.profession::after {
  content: "💻";
}

.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background: black;
  color: white;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.footer {
  background-color: lavender;
  text-align: center;
  padding: 2em;
}

/* || Media queries */

@media screen and (min-width: 786px) {
  html {
    font-size: 1.25rem;
  }
  article + article {
    margin-top: 3.5rem;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
 
  }
  .employment-header {
    display: flex;
    justify-content: space-between;
  }
  .employment-header > * {
    -flex-grow: 1;
  }
  .employment-subheading {
    min-width: 8ch;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.5rem;
  }
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me,
  .navigation {
    display: none;
  }
}
